
/*1st portion*/
.heading{
    background-color: black;
    text-align: center;
    padding: 10px 0px 1px;
}
.up{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
/*2nd portion*/
.list-header{
    text-transform: uppercase;
    color: gray;
    margin-bottom: 0.5rem;
}

.container{
    margin: 0px;
}

.link-body-emphasis{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.text-small{
    margin-bottom: 2rem;
}
/*To occupy the full width*/
@media (min-width: 992px)
 {
    .container{
    max-width: 1500px;
}
 }

 .d-block{
    padding-top: 7px;
    padding-right: 4px;
}
/*To keep youngla in middle*/
@media (min-width: 992px){
    .me-lg-auto {
         margin-right: 0px!important; 
    }
    }

    .title-a{
        letter-spacing: .9rem;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
    @media (min-width: 992px)
     {
        .title{
        margin-left: auto;
        margin-right: auto;
    }
     }
.hide{
    display: none;
}
.search{
    margin-left: 10px;
    
}
.search:hover + .hide{
    display: block;
}
.contact{
    margin-bottom: 0px;
}
.title-a:hover{
    color: aqua;
}

/*For him and for her*/
.him{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
.him:hover{
    background-color: white;
}
.card-text{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
}
.pric{
    text-align: center;
    color: grey;
    
}
.star{
    text-align: center;
}
.centre{
    text-align: center;
}

/*All for him*/
.him-product{
    text-align: center;
}
.start{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;

}
.all-button{
    background-color: white;
    color: black;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}
.See-more{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    
}
.image-overlay{
    margin-bottom: 70px!important;
    opacity: 0;
    transition: opacity 0.25s;
    background: black;
}
.image-overlay:hover{
    opacity: 0.6;
    
}
/*To come from bottom*/
.image-overlay > *{
    transform: translateY(20px) ;
    transition: transform 0.25s;
}
.image-overlay:hover >*{
    transform: translateY(0px) ; 
}

.more{
    text-align: center;
    margin: 20px 0;
}
.more-in{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    text-align: center;
}
.more-in:hover {
    color: blue;
  }
  .six-grid-images{
    background-color: #EEEDED;
  }

  /*Footer*/
  h5{
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }


  /*Sign*/
  .form-signin{
    text-align: center;
    padding:  7rem 35rem ;
  }
  .top-her{
    margin: 1rem;
  }
 .create{
    text-decoration: none;
    
    color: black;
 }
 @media (max-width: 1200px) and (min-width: 960px){
    .form-signin{
        text-align: center;
        padding:  5rem 20rem ;
      }
 }
 @media (max-width: 959px)and (min-width: 600px){
    .form-signin{
        text-align: center;
        padding:  5rem 15rem ;
      }
 }
 @media (max-width: 599px)and (min-width: 400px){
    .form-signin{
        text-align: center;
        padding:  5rem 5rem ;
      }
 }
 @media (max-width: 599px){
    .form-signin{
        text-align: center;
        padding:  5rem 3rem ;
      }
 }

 .space{
    margin-bottom: 1rem;
 }

 /*Cart*/
 
 .shopping-bag{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin: 4rem 0rem;
 }

 .applyDiscount{
    color: black;
    margin-left: 05rem;
 }
 .dark-hr{
    border-top: 3px solid black;
    margin-top: 2rem;
    
 }
 .p-total{
    font-weight: bold;
 }
 
 @media (max-width: 992px) and (min-width: 472px){
    .applyDiscount{
        color: black;
        margin-left: 15rem;
     }
 }
 @media (max-width: 471px) and (min-width:100px){
    .applyDiscount{
        color: black;
        margin-left: 5rem;
     }
 }
 @media (max-width: 200px)and (min-width: 0px){
    .applyDiscount{
        color: black;
        margin-left: 1rem;
     }
 }

 .price{
    font-weight: bold;
    margin-left: 10rem;
}

@media (max-width: 1200px) and (min-width: 960px){
    .price{
        font-weight: bold;
        margin-left: 12rem;
    }
 }
 @media (max-width: 959px)and (min-width: 600px){
    .price{
        font-weight: bold;
        margin-left: 20rem;
    }
 }
 @media (max-width: 599px)and (min-width: 460px){
    .price{
        font-weight: bold;
        margin-left: 15rem;
    }
 }
 @media (max-width: 459px){
    .price{
        font-weight: bold;
        margin-left: 9rem;
    }
 }
 #total{
    margin-bottom: 2rem;
 }
 .continue-to-checkout{
    background-color: gray;
    border-radius: 0px;
    color: black;
 }
 #last-chance{
    text-align: center;
    color: red;
 }
 .payement-img{
    height: 40px;
 }
 #EMI{
    font-weight: bold;
 }
 .non-imp{
    color: gray;
    font-size: 0.6rem;
 }
 
 @media (max-width: 1800px) and (min-width: 960px){
    .checkout-div{
        margin: auto;
     }
 }
 @media (max-width: 959px)and (min-width: 600px){
    .checkout-div{
        margin: auto;
     }
 }
 @media (max-width: 599px)and (min-width: 400px){
    .checkout-div{
        margin: 0px;
     }
 }
 @media (max-width: 399px){
    .checkout-div{
        margin: 10px;
     }
 }
 @media (max-width: 1800px) and (min-width: 960px){
    .yourShopping{
        padding-bottom: 600px ;
    }
 }


 /*Hover effect*/
 .top-container{
    position: relative;
 }
 .top-image{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .7s ease;
    height: auto;
    width: 100%;
 }
 .top-image:hover{
    opacity: 1;
 }

 /*zoom*/
 .zoom-container{
    overflow: hidden;
 }
 .zoom-image{
    transition: transform 2s;
 }
 .zoom-container:hover img{
    transform: scale(1.3);
 }

.carousel-container{
    overflow: hidden;
}
.carousel-container img{
    transition: transform 2s;
}
 .carousel-container:hover img{
    transform: scale(1.1);
 }

 